#nav-spacer {  
  height: 80px;
}

#page-title {  
  font-family: Hind;
  color: #000;
}

#page-text {  
  font-family: Hind;
  line-height: 2;
  color: #000;
}

a {
	color: #173e55 !important;
}

li {
	color: #173e55 !important;
}

h1 {
	color: #173e55 !important;
}