.nav {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
}

.uk-background-primary {
	background-color: #f49d60 !important;
}

.uk-logo img {
  width: 55px;
  min-width: 25px;
  object-fit: cover;
  color: #173e55;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#sitename {  
  font-family: Hind;
  margin: 0;
  height: 52px;
  color: #173e55;
}