.nav {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
}

.uk-navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.uk-background-primary {
	background-color: #f49d60 !important;
}

.uk-logo img {
  max-height: 55px;
  min-height: 25px;
  object-fit: cover;
  color: #173e55;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#menu-button {
  background-color: #f49d60 !important;
  color: #173e55;
  padding: 0px;
  margin-left: 20px;
  border-width: 0;
}

#menu-button img {
  margin-top: 3px;
  max-width: 55px;
  min-width: 25px;
}

#navbar-small {
  padding-bottom: 20px;
}